.ql-editor {
  min-height: 200px;
}

.ql-editor img, .post-description img {
  width: 100%;
}

.ReactTags__tagInputField {
  border: none;
  display: block;
  outline: none;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ReactTags__selected span {
  margin-right: 10px;
  border: 1px solid rgb(220, 219, 219);
  padding: 4px 6px;
  border-radius: 5px;
  background: #f8f9fa;
}

.ReactTags__selected span button {
  border: none;
  margin-left: 5px;
  background: transparent;
  color: red;
}

.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  list-style: none;
  padding: 0;
}

.ReactTags__suggestions li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #d6dadd64;
  cursor: pointer;
}